## Files
data/
data_out/*.csv
results/Bernoulli/*.rda
results/NegBin/*.rda

## 
ms_PROOCE/*.spl
ms_PROOCE/*.tex
ms_PROOCE/*.log
ms_PROOCE/*.pdf
ms_PROOCE/ms_title-page.Rmd
# Highlights (already in the Rmd) and declaration statement -- no need to share
ms_PROOCE/*.doc*
# {rticles} includes a CLS file in here, 
# but I've specified an URL straight from github/citation-style-language
ms_PROOCE/*.cls 

## Templates I've tried to render the MS -- not used, so ignore them
## I'll keep them local just for historical fileing
docs/
ms_preprint/
ms_springer/

## (Re)Submission cover letters -- no need to share this
cover-letter*.*

## Scripts workflow SVG image -- don't need to be version controled
scripts/scripts-workflow.svg

## LDA idea we end up not using -- opted for RCPs instead 
scripts_lda/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
